@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeLab</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="./css/Inicio.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/layoutPadrao.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="desktop-app">
    <header class="headerMobile">
        <nav>
            @if(SignInManager.IsSignedIn(User))
                {
                    var user = await UserManager.FindByEmailAsync(User.Identity.Name);
                    if (user != null)
                    {   
                        <div class="perfil">
                        <img src="~/userIcon2.jfif" alt="Icone Usuario" class="img-perfil"/>
                        </div>
                        <div class="user-cash">
                            <img src="~/CashLab.png" alt="Denhero kkkkk"/>
                            <span class="text-green">@user.Dinheiro</span>
                        </div>
                        <div>
                            @user.XpGanho / @user.XpNescessario
                        </div>
                    }
                }
        </nav>
    </header>
        <div id="appLayoutPadrao" class="container-main">
            <nav>
            <div class="sidebar">
                <h2 class="no-underline">
                    <a href="index.html" class="no-decoration">Code<span class="cor-logo">Lab</span></a>
                </h2>
                @if (User.IsInRole("Admin"))
            {
                <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index" 
                            class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "branco-active btn-sidebar" : "btn-sidebar")">
                            <i class="bx bx-home"><span>Inicio</span></i>
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Perguntas" asp-action="Create" 
                            class="@(ViewContext.RouteData.Values["controller"].ToString() == "Perguntas" && ViewContext.RouteData.Values["action"].ToString() == "Create" ? "text-white active btn-sidebar" : "btn-sidebar")">
                            <i class="bx bx-question-mark"><span>Adicionar</span></i>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Perguntas" asp-action="Index" 
                            class="@(ViewContext.RouteData.Values["controller"].ToString() == "Perguntas" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "text-white active btn-sidebar" : "btn-sidebar")">
                            <i class="bx bx-edit"><span>Perguntas</span></i>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Fotos" asp-action="Index" 
                            class="@(ViewContext.RouteData.Values["controller"].ToString() == "Fotos" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "text-white active btn-sidebar" : "btn-sidebar")">
                            <i class="bx bx-image"><span>Avatares</span></i>
                            </a>
                        </li>
                </ul>
                            <div>
                                <li>
                                    <form asp-controller="Account" asp-action="Logout" method="post">
                                        <button type="submit" class="btn-sidebar" style="background: none; border: none; padding: 0; cursor: pointer;">
                                            <i class="bx bx-log-out">
                                                <span>Sair</span>
                                            </i>
                                        </button>
                                    </form>
                                </li>
                            </div>
            }
            else
            {
                <p>Nao é admin</p>
            }
            </div>
        </nav>

        <main role="main">
           <div class="container-app">
                @RenderBody()
            </div>
        </main>
    </div>
    <footer class="footerDesktop">
        <p>&copy;2024 CODELAB</p>
    </footer>
    <footer class="footerMobile">
        @if (User.IsInRole("Admin"))
        {
        <div class="c-icon">
            <div class="c-icon__home c-icon__active">
                <div class="c-icones-footer">
                <i class="bx bx-home"></i>
                <a asp-controller="Home" asp-action="Index" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "text-white active" : "")">Início</a>
                </div>
            </div>
            <div class="c-icon__pergunta c-icon__active">
                <div class="c-icones-footer">
                <i class="bx bx-question-mark"></i>
                <a asp-controller="Perguntas" asp-action="Create" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Perguntas" && ViewContext.RouteData.Values["action"].ToString() == "Create" ? "text-white active" : "")">Perguntas</a>
                </div>
            </div>
            <div class="c-icon__edit c-icon__active">
                <div class="c-icones-footer">
                <i class="bx bx-edit"></i>
                <a asp-controller="Perguntas" asp-action="Index" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Perguntas" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "text-white active" : "")">Editar</a>
                </div>
            </div>
            <div class="c-icon__fotos c-icon__active">
                <div class="c-icones-footer">
                <i class="bx bx-image"></i>
                <a asp-controller="Fotos" asp-action="Index" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Fotos" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "text-white active" : "")">Fotos</a>
                </div>
            </div>
            <div class="c-icon__sair c-icon__active">
                <div class="c-icones-footer">
                <i class="bx bx-log-out"></i>
                <form asp-controller="Account" asp-action="Logout" method="post"><button type="submit">Logout</button></form>
                </div>
            </div>
        </div>
            }
            else
            {
                <p>Nao é admin</p>
            }
    </footer>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
