@model QuizViewModel;
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="container-quiz">
    <form class="radio-form" asp-action="Responder" asp-controller="Quiz">
        <textarea id="info-box" rows="6" cols="50" readonly>
            @Model.PerguntaDescricao
        </textarea>
        <div asp-validation-summary="All" class="text-red-500 text-xs"></div>
        <input type="hidden" name="page" value="@ViewData["Page"]"/>
        <input type="hidden" name="lang" value="@ViewData["Lang"]"/>
        <input type="hidden" name="nivel" value="@ViewData["Nivel"]"/>
        <input type="hidden" value="@Model.QuizId" asp-for="QuizId"/>
        @if (Model.Alternativas != null)
        {
            @foreach (var alternativa in Model.Alternativas)
            {
                    <label class="radio-button">
                        <input type="radio" value="@alternativa.LetrasAlternativa" asp-for="@Model.AlternativaSeleciona" />
                    <span>@alternativa.Description</span>
                    </label>
            }
        }
        <button type="submit" class="buttonEnviarQuiz" id="submitButton">Responder</button>
    </form>
</div>